// Variables
$primaryColor: #692300;
$secondaryColor: #df7307;
$primaryBgColor: #dddf96;

// General
*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    background: url(../img/background.jpg);
    background-color: #9ED2C8;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.fa-mars {
    color: #6994ff;
}
.fa-venus {
    color: #FE929F;
}


// CONTENTS

main {
    // Accueil
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    h1 {
        margin: 80px 0;
        text-align: center;
        color: $primaryColor;
    }
    .menu {
        display: flex;
        justify-content: center;
        gap: 10px;
        width: 100%;
        span {
            img {
                width: 50px;
                height: 50px;
            }
        }
        .card {
            display: flex;
            align-items: center;
            gap: 15px;
            border-radius: 15px;
            padding: 15px;
            font-size: 20px;
            font-family: monospace, sans-serif;
            background-color: $primaryBgColor;
            color: $secondaryColor;
            user-select: none;
            cursor: pointer;
            transition: box-shadow 0.2s;
            &:hover {
                box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
            }
        }
    }
    // Villageois
    .divRechercherVil {
        position: relative;
        width: 30%;
        margin-bottom: 40px;
        input {
            font-size: 0.9rem;
            background-color: transparent;
            width: 100%;
            box-sizing: border-box;
            padding-inline: 0.5em;
            padding-block: 0.7em;
            outline: none;
            border: none;
            border-bottom: 1px solid transparent;
            background: $primaryBgColor;
            box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

            &:focus ~ .input-border {
                width: 100%;
            }
        }
        .input-border {
            position: absolute;
            background: $primaryColor;
            width: 0%;
            height: 2px;
            bottom: 0;
            left: 0;
            transition: 0.3s;
        }
    }

    .villagers {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 30px;
        margin: 20px;
        border-radius: 15px;
        height: auto;
        /* Hide scrollbar for IE, Edge and Firefox */
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
        .card-villager {
            position: relative;
            display: inline-block;
            background-color: $primaryBgColor;
            text-align: center;
            padding: 10px;
            border-radius: 10px;
            width: 220px;
            box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
            cursor: pointer;
            user-select: none;
            overflow: hidden;
            .card-detail-villager {
                z-index: 1;
                position: absolute;
                left: 0;
                bottom: -100%;
                height: 100%;
                width: 100%;
                padding: 10px;
                border-radius: 10px;
                transition: all 0.5s;
                .iconVil {
                    width: 70px;
                    align-self: center;
                }
                .catchPhraseVil {
                    font-size: 12px;
                    font-style: italic;
                }
                .detailsVil {
                    margin-top: 10px;
                    display: flex;
                    text-align: left;
                    flex-wrap: wrap;
                    font-size: 10px;
                    row-gap: 7px;
                    >* {
                        display: flex;
                        align-items: center;
                        gap: 8px;
                        overflow: hidden;
                    }
                    .speciesVil {
                        width: 50%;
                    }
                    .personalityVil {
                        width: 50%;
                        .iconPersonality {
                            width: 12px;
                        }
                        font-size: 12px;
                    }
                    .colorsVil {
                        width: 50%;
                        .color1, .color2 {
                            font-size: 8px;
                            border-radius: 5px;
                            padding: 2px;
                        }
                    }
                    .hobbyVil {
                        width: 50%;
                    }
                    .stylesVil {
                        width: 50%;
                        transform: translateX(-2px);
                        .style2 {
                            padding-right: 5px;
                        }
                    }
                    .favMusicVil {
                        width: 50%;
                        .favCoverSongVil {
                            width: 12px;
                        }
                    }
                    .fa-paw {
                        color: $primaryColor;
                    }
                    .fa-palette {
                        color: $primaryBgColor;
                    }
                    .fa-shirt {
                        color: #B33F40;
                    }
                }
                .hrQuoteVil {
                    margin: 20px 0 10px 0;
                    width: 100%;
                    border: none;
                    border-radius: 50px;
                    height: 3px; 
                }
                .divQuoteVil {
                    font-size: 10px;
                    font-style: italic;
                }
            }
            &:hover > .card-detail-villager {
                bottom: 0;
            }
            .birthdayVil {
                position: relative;
                display: flex;
                gap: 10px;
                font-size: 10px;
                align-items: center;
                .iconZodiacSignVil {
                    position: absolute;
                    right: 0;
                    width: 30px;
                }
            }
            .namesVil {
                margin-top: 10px;
                display: flex;
                justify-content: center;
                font-size: 20px;
                p {
                    transform: translateX(8px);
                }
                .fa-venus, .fa-mars {
                    position: relative;
                    right: -20px;
                }
            }
            .frenchNameVil {
                margin-bottom: 5px;
                font-size: 10px;
                font-weight: 500;
            }
            img {
                width: 180px;
            }
        }
        /* Hide scrollbar for Chrome, Safari and Opera */
        &::-webkit-scrollbar {
            display: none;
        }
    }


    // ---- MODAL VILLAGER ----
    .modal {
        display: none;
        position: fixed;
        z-index: 2;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0,0,0,0.4);
        img {
            cursor: pointer;
        }
        .modal-content {
            background-color: $primaryBgColor;
            margin: 2% auto;
            width: 560px;
            height: 670px;
            border-radius: 10px;
            .navbarModalVil {
                position: relative;
                display: flex;
                align-items: center;
                margin-left: 28px;
                gap: 50px;
                .divModalIconVil {
                    width: auto;
                    height: auto;
                    margin: 0;
                    padding: 0;
                    img {
                        width: 100px;
                    }
                }
                .divTitleVil {
                    .modalNameVil {
                        font-size: 26px;
                    }
                    .modalFrenchName {
                        font-size: 16px;
                        font-weight: 300;
                    }
                }
                .divModalClose {
                    position: absolute;
                    right: 0;
                    top: -10px;
                    user-select: none;
                    .close {
                        color: $secondaryColor;
                        float: right;
                        font-size: 38px;
                        font-weight: bold;
                        transition: color 0.5s;
                        &:hover, &:focus {
                            color: $primaryColor;
                            text-decoration: none;
                            cursor: pointer;
                        }
                    }
                }
            }
            .divModalInfos {
                display: flex;
                padding: 15px;
                column-gap: 60px;
                .divModalPhotosVil {
                    text-align: center;
                    p {
                        margin-bottom: 20px;
                    }
                    .divModalPosterVil {
                        img {
                            width: 130px;
                        }
                    }
                    .divModalImageVil {
                        img {
                            width: 60px;
                        }
                    }
                }
                .divModalDetails {
                    font-family: monospace, sans-serif;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    row-gap: 10px;
                    font-weight: 300;
                    font-size: 14px;
                    h2 {
                        text-align: center;
                        margin: 10px 0 20px 0;
                    }
                    .modalBirthdayVil {
                        position: relative;
                        display: flex;
                        align-items: center;
                        column-gap: 5px;
                        width: 100%;
                        align-items: center;
                        img {
                            position: absolute;
                            right: 0;
                            width: 35px;
                            cursor: pointer;
                        }
                    }
                    .divModalColorsVil {
                        display: flex;
                        align-items: center;
                        gap: 25px;
                        .color1, .color2 {
                            font-size: 14px;
                            border-radius: 50px;
                            padding: 5px;
                            cursor: pointer;
                            user-select: none;
                        }
                    }
                    .modalMusicVil {
                        display: flex;
                        align-items: center;
                        column-gap: 25px;
                        img {
                            width: 50px;
                            cursor: pointer;
                        }
                    }
                }
            }
            .divModalHousePicturesVil {
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                .divModalExteriorHouseVil {
                    
                }
                .divModalInteriorHouseVil {

                }
                img {
                    width: 200px;
                }
                .lightbox {
                    position: fixed;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(0, 0, 0, 0.8);
                    display: none;
                    justify-content: center;
                    align-items: center;
                    z-index: 3;
                    img {
                        max-width: 90%;
                        max-height: 90%;
                        transition: all 0.3s ease-in-out;
                    }
                    &:target {
                        display: flex;
                    }
                    &:target img {
                        transform: scale(2);
                    }
                    .close-btn {
                        position: fixed;
                        top: 0;
                        right: 0;
                        color: $secondaryColor;
                        font-size: 38px;
                        font-weight: bold;
                        transition: color 0.5s;
                        text-decoration: none;
                        &:hover, &:focus {
                            color: $primaryColor;
                            text-decoration: none;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}